<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" class="drawer-content">
      <ng-container
        [ngTemplateOutlet]="drawerContent"
        >
      </ng-container>
    </mat-drawer>
  
    <div class="app-content">
      <mat-toolbar>
        <button mat-icon-button type="button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Prime Folio</span>
      </mat-toolbar>
      <div>
        <ng-container
          [ngTemplateOutlet]="appContent"
          >
        </ng-container>
      </div>
    </div>
  </mat-drawer-container>
  
