<mat-drawer-container [class.dark-theme]="isDarkTheme">
  <mat-drawer #drawer mode="over" position="end" class="drawer-content p-3">
    <div class="h-full flex flex-col justify-between overflow-hidden">
      <div class="flex flex-col justify-between gap-y-4">
        <mat-button-toggle-group
          vertical="true"
          class="w-full"
          (change)="onNavSelectionChange($event); drawer.close()"
        >
          @for (item of navItems; track $index) {
          <mat-button-toggle
            [value]="item.navLink"
            [checked]="isSelectedNavItem(item.navLink)"
            >{{ item.displayName }}</mat-button-toggle
          >
          }
        </mat-button-toggle-group>
      </div>
      <div>
        <div class="flex flex-col">
          <div class="mb-5 flex justify-center">
            <mat-slide-toggle
              [checked]="isDarkTheme"
              (toggleChange)="toggleTheme()"
              >Dark Theme</mat-slide-toggle
            >
          </div>
          @if(isAuthenticated$ | async; as isAuthenticated){
          <button mat-button class="w-full" color="warn" (click)="onLogout()">
            Logout
          </button>
          } @else {
          <button mat-button class="w-full" color="accent" (click)="onLogin()">
            Login
          </button>
          }
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="app-content">
    <mat-toolbar>
      <span>Prime Folio</span>
      <span class="spacer"></span>

      <button mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    @if (loading$ | async) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <div class="p-3 h-100">
      <ng-container [ngTemplateOutlet]="appContent"> </ng-container>
    </div>
  </div>
</mat-drawer-container>
